@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@primary: #30cbe2;
@secondary: #154a81;

header {
  padding: 30px;
  .logo {
    width: 257px;
    margin: auto;
    img {
      height: 100px;
    }
  }
}

.nav-btn-wrapper {
  visibility: hidden;
  width: 30px;
  margin: auto;
  button {
    background: none;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

.nav-wrapper {
  padding: 10px;  
}

.nav {
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: center;
  font-size: 10pt;
}

.nav-link {
  text-align: center;
  font-size: 13pt;
  color: @primary;
  transition: color 200ms, font-weight 200ms;

  &:hover {
    color: @secondary;
  }
  
  &.active {
    font-weight: bold;
  }
}

.content {
  background-color: grey;
}

@media only screen and (max-width: 670px) {
  header {
    padding: 0;
  }
  
  .logo {
    padding-top: 30px;
  }
  
  .nav-wrapper {
    margin-bottom: 30px;
    background-color: lightgrey;
    .nav-btn-wrapper {
      visibility: visible;
    }
    
    .nav {
      flex-direction: column;
    }
    
    &.hidden {
      background-color: transparent;
      .nav {
        visibility: hidden;
        height: 0;
        width: 0;
        * {
          width: 0;
        }
      }
    }
  }
}

.content {
  background-color: transparent;
  text-align: center;
}

.top-bit {
  position: relative;
  padding: 10px;
  
  &:before {
    background-image: url("../image/cape.jpg");
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-position: 0 70%;
    filter: blur(5px);
  }
  
  .inner {
    position: relative;
  }
  
  h1 {
    padding: 20px;
    font-weight: bolder;
  }
  
  h2 {
    padding: 20px;
    font-weight: bold;
  }
  
  h3 {
    padding: 15pt;
    font-weight: lighter;
    color: white;
    font-style: italic;
  }
  
  p {
    color: #333333;
    font-size: 15pt;
  }
  
  button {
    background: white;
    border: none;
    color: @secondary;
    border-radius: 3px;
    font-size: 15pt;
    padding: 10px;
    font-weight: bold;
    transition: background-color 200ms, color 200ms;
    
    &:hover {
      background-color: @primary;
      color: white;
      box-shadow: black 1px 1px 5px;
    }
  }
}

#blazor-error-ui {
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}