@page "/"
@inject NavigationManager NavigationManager

<div class="home">
    <div class="top-bit">
        <div class="inner">
            <h1>
                25<sup>th</sup> - 27<sup>th</sup> September 2020
            </h1>
            
            <h3>
                Mā pango mā whero ka oti te mahi.
            </h3>
            
            <h2>
                CREATE THE COMMUNITY YOU WANT TO LIVE IN!
            </h2>
            
            <p>
                Tai Tokerau faces a series of challenges and we believe that YOU have the solutions. 
                <br />
                <br />
                This weekend-long event is for everyone who is committed to make Northland an even better place to live.
                <br />Together, we will brainstorm workable solutions to the problems that you see in our community and support the best ideas to become a reality.
                <br />
                <br />
                Sir Paul Callaghan said that “Tai Tokerau is the place where talent wants to live” – let’s harness that talent!
            </p>
            <button @onclick="GoToAbout">Tell me more!</button>
        </div>
    </div>
    
    <p class="blue-text" id="middle-text">
        The hardest part of bringing change forward is to find people who are as passionate and motivated as you are. 
        At our innovation weekend, you’ll be immersed in the ideal environment to make change happen.
    </p>
    
    <div class="cards">
        <CardBorderless Title="Tell Your Story" ImageLocation="../image/talk-1.png">
            Bring the challenges your community faces in front of an audience of like-minded people, brainstorm a solution
            together or pitch your idea of how to tackle the problem.
        </CardBorderless>
        <CardBorderless Title="Connect" ImageLocation="../image/three-friends.png">
            Bring the challenges your community faces in front of an audience of like-minded people, brainstorm a solution
            together or pitch your idea of how to tackle the problem.
        </CardBorderless>
        <CardBorderless Title="Develop" ImageLocation="../image/growth.png">
            Bring the challenges your community faces in front of an audience of like-minded people, brainstorm a solution
            together or pitch your idea of how to tackle the problem.
        </CardBorderless>
        <CardBorderless Title="Support" ImageLocation="../image/human-pyramid.png">
            Bring the challenges your community faces in front of an audience of like-minded people, brainstorm a solution
            together or pitch your idea of how to tackle the problem.
        </CardBorderless>
    </div>
    
    <div class="schedule">
        <h1>The Shedule</h1>
        <p class="blue-text">
            Here's what happens during our innovation weekend:
        </p>
    
        <h2>Friday, Day 1: Meet, Pitch, Team Up</h2>
        <div class="cards-schedule">
            <Card ImageLocation="../image/introductions.jpg" Title="Introductions">
                Get to know the talent in the room. Listen to success stories from Tai Tokerau’s own.
            </Card>
            <Card ImageLocation="../image/story.jpg" Title="Tell your own story">
                Share your community challenges and pitch your ideas for solutions.
            </Card>
            <Card ImageLocation="../image/choose_proj.jpg" Title="Choose Your Project">
                Out of the top ideas – which one do you like best? Choose which one you’ll work on over the weekend.
            </Card>
            <Card ImageLocation="../image/team.jpg" Title="Build Your Team">
                Whether it’s your idea or someone else’s, you’ll create a cross-functional team to work with over the weekend.
            </Card>
        </div>
        
        <h2>Saturday, Day 2: Learn & Work</h2>
        <div class="cards-schedule">
            <Card ImageLocation="../image/get_support.jpg" Title="Get Support">
                Local mentors will be coming in throughout the event to coach you through the challenges and provide support.
            </Card>
            <Card ImageLocation="../image/story.jpg" Title="Get To Work">
                We’ve got the resources and support in place to make things happen in a short period of time. 
                You’ll test your idea, refine it and create a working solution to your challenge.
            </Card>
        </div>
        
        <h2>Sunday, Day 3: Present & Choose</h2>
        <div class="cards-schedule">
            <Card ImageLocation="../image/present.jpg" Title="Present in Front of Local Judges">
                You’ll have 5 minutes to present your solution to the crowd and a panel of experts.
                The chosen ideas will receive ongoing support.
            </Card>
            <Card ImageLocation="../image/colab.jpg" Title="Celebrate & Network">
                Celebrate all the work you’ve done and decide where to go from here.
                Get the opportunity to talk to judges and mingle with mentors.
            </Card>
        </div>
    </div>
    
    <div class="register">
        <h3>That all sound great?</h3>
        
        <h1>Join us and get creative!</h1>
        
        <button @onclick="GoToRegister">Register</button>
    </div>
</div>


@code {

    void GoToAbout() {
        NavigationManager.NavigateTo("/about");
    }


    void GoToRegister() {
        NavigationManager.NavigateTo("/register");
    }

}