@page "/"
@inject NavigationManager NavigationManager

<div class="home">
    <div class="top-bit">
        <div class="inner">
            <h1>
                25<sup>th</sup> - 27<sup>th</sup> September 2020
            </h1>
            
            <h3>
                Mā pango mā whero ka oti te mahi.
            </h3>
            
            <h2>
                CREATE THE COMMUNITY YOU WANT TO LIVE IN!
            </h2>
            
            <p>
                Tai Tokerau faces a series of challenges and we believe that YOU have the solutions. 
                <br />
                <br />
                This weekend-long event is for everyone who is committed to make Northland an even better place to live.
                <br />Together, we will brainstorm workable solutions to the problems that you see in our community and support the best ideas to become a reality.
                <br />
                <br />
                Sir Paul Callaghan said that “Tai Tokerau is the place where talent wants to live” – let’s harness that talent!
            </p>
            <button @onclick="GoToAbout">Tell me more!</button>
        </div>
    </div>
    
    <p class="blue-text" id="middle-text">
        The hardest part of bringing change forward is to find people who are as passionate and motivated as you are. 
        At our innovation weekend, you’ll be immersed in the ideal environment to make change happen.
    </p>
    
    <div class="cards">
        <CardBorderless Title="Tell Your Story" ImageLocation="../image/talk-1.png">
            Bring the challenges your community faces in front of an audience of like-minded people, brainstorm a solution
            together or pitch your idea of how to tackle the problem.
        </CardBorderless>
        <CardBorderless Title="Connect" ImageLocation="../image/three-friends.png">
            Bring the challenges your community faces in front of an audience of like-minded people, brainstorm a solution
            together or pitch your idea of how to tackle the problem.
        </CardBorderless>
        <CardBorderless Title="Develop" ImageLocation="../image/growth.png">
            Bring the challenges your community faces in front of an audience of like-minded people, brainstorm a solution
            together or pitch your idea of how to tackle the problem.
        </CardBorderless>
        <CardBorderless Title="Support" ImageLocation="../image/human-pyramid.png">
            Bring the challenges your community faces in front of an audience of like-minded people, brainstorm a solution
            together or pitch your idea of how to tackle the problem.
        </CardBorderless>
    </div>
    
    <div class="schedule">
        <h1>The Shedule</h1>
        <p class="blue-text">
            Here's what happens during our innovation weekend:
        </p>
    
        <h2>Friday, Day 1: Meet, Pitch, Team Up</h2>
        <div class="cards-schedule">
            <Card ImageLocation="../image/introductions.jpg" Title="Introductions">
                Get to know the talent in the room. Listen to success stories from Tai Tokerau’s own.
            </Card>
            <Card ImageLocation="../image/story.jpg" Title="Tell your own story">
                Share your community challenges and pitch your ideas for solutions.
            </Card>
            <Card ImageLocation="../image/choose_proj.jpg" Title="Choose Your Project">
                Out of the top ideas – which one do you like best? Choose which one you’ll work on over the weekend.
            </Card>
            <Card ImageLocation="../image/team.jpg" Title="Build Your Team">
                Whether it’s your idea or someone else’s, you’ll create a cross-functional team to work with over the weekend.
            </Card>
        </div>
    </div>
</div>


@code {

    void GoToAbout() {
        NavigationManager.NavigateTo("/about");
    }

}