<div class="card-bg">
    <img src="@ImageLocation" alt="@Alt"/>
    <h3>@Title</h3>
    <p>@ChildContent</p>
</div>


@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Alt { get; set; } = "";
    
    [Parameter]
    public string ImageLocation { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}