@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@primary: #30cbe2;
@primaryDark: #1a73ab;
@secondary: #154a81;
@secondaryDark: #0f345c;
@secondaryLight: #2a5186;


header {
  padding: 30px;
  .logo {
    width: 257px;
    margin: auto;
    img {
      height: 100px;
    }
  }
}

.nav-btn-wrapper {
  visibility: hidden;
  width: 30px;
  margin: auto;
  button {
    background: none;
    border: none;
    &:focus {
      outline: none;
    }
  }
}

.nav-wrapper {
  padding: 10px;
}

.nav {
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: center;
  font-size: 10pt;
}

.nav-link {
  text-align: center;
  font-size: 15pt;
  color: @secondary;
  transition: ease 200ms;

  &:hover {
    color: @primary;
  }

  &.active {
    font-weight: 900;
  }
}

.content {
  background-color: grey;
}

@media only screen and (max-width: 750px) {
  header {
    padding: 0;
  }

  .logo {
    padding-top: 30px;
  }

  .nav-wrapper {
    margin-bottom: 30px;
    background-color: lightgrey;
    .nav-btn-wrapper {
      visibility: visible;
    }

    .nav {
      flex-direction: column;
    }

    &.hidden {
      background-color: transparent;
      .nav {
        padding: 0;
        margin: 0;
        justify-content: left;
        visibility: hidden;
        height: 0;
        width: 0;
        a {
          width: 0;
          margin: 0;
        }
      }
    }
  }
}

.content {
  background-color: transparent;
  text-align: center;
}

p {
  font-size: 15pt;
}

.top-bit {
  position: relative;
  padding: 10px;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  margin-bottom: 30px;

  &:before {
    background-image: url("assets/image/cape_bw.jpg");
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-position: 0 70%;
  }

  .inner {
    position: relative;
  }

  h1 {
    padding: 20px;
    font-weight: bolder;
  }

  h2 {
    padding: 20px;
    font-weight: bold;
  }

  h3 {
    padding: 15pt;
    font-weight: 300;
    color: white;
    font-style: italic;
  }

  p {
    margin: auto;
    width: 60%;
    color: #333333;
    font-size: 20pt;
  }

  button {
    background: white;
    border: none;
    color: @secondary;
    border-radius: 3px;
    font-size: 15pt;
    padding: 10px;
    font-weight: bold;
    transition: ease 200ms;
    margin: 40px;

    &:hover {
      background-color: @primary;
      color: white;
      box-shadow: black 1px 1px 5px;
    }
  }
}

.home {
  .cards {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  .schedule {
    margin: auto;
    width: 75%;
    p {
      padding: 10px 0 40px 0;
    }

    h2 {
      padding-top: 50px;
    }
  }

  .cards-schedule {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
  }

  #middle-text {
    margin: 60px auto 60px auto;
  }

  .blue-text {
    width: 60%;
    margin: auto;
  }
}

@media only screen and (max-width: 980px) {
  .home .cards {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  .home .cards-schedule {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 510px) {
  .home .schedule {
    padding: 0px;
    .card-bg {
      margin: 5px;
    }
  }

  .home .cards {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
  }
}

.card-bg {
  border-radius: 10px;
  box-shadow: grey 0 0 5px;
  padding: 50px;
  margin: 30px;
  background-image: linear-gradient(@primaryDark 60%, @primary);
  color: white;

  img {
    margin-bottom: 40px;
    width: 200px;
    border-radius: 100%;
  }

  h3 {
    font-weight: bolder;
  }

  p {
    font-size: 15pt;
    padding: 20px;
  }
}

.card-nobg {
  padding: 30px;
  img {
    padding: 5px;
    width: 150px;
    margin: auto;
  }
  h3 {
    text-align: center;
  }
  p {
    text-align: justify;
    font-size: 15pt;
  }
}

.home .register {
  background-image: url("assets/image/register.jpg");
  background-size: cover;
  background-color: @primaryDark;
  background-blend-mode: screen;
  margin-top: 100px;
  padding: 70px;

  h3 {
    font-weight: 900;
    padding: 60px;
  }

  h1 {
    padding: 30px;
    font-weight: 900;
    font-size: 50pt;
  }

  button {
    background: white;
    border: none;
    color: @secondary;
    border-radius: 3px;
    font-size: 20pt;
    padding: 10px;
    font-weight: bold;
    transition: ease 200ms;
    margin: 40px;

    &:hover {
      background-color: @primary;
      color: white;
      box-shadow: black 1px 1px 5px;
    }

    &:focus {
      outline: none;
    }
  }
}

.blue-text {
  font-size: 20pt;
  color: @primaryDark;
}

.in-collaboration-with {
  padding: 10rem;

  img {
    padding: 20px;
    height: 150px;
  }

  h6 {
    padding: 30px;
    font-size: 30px;
  }
}

.about {
  width: 80%;
  margin: auto;
  padding-bottom: 5em;

  h1 {
    padding: 1em;
    font-weight: bold;
    color: @secondaryDark;
  }

  p {
    text-align: justify;
    font-size: 20pt;
    color: @secondaryLight;
  }
}

.footer {
  text-align: center;
  padding: 30px;
  color: #453F3F;
  background: @primaryDark;

  a {
    color: #453F3F;
    text-decoration: none;
  }
}
